* {
  margin: 0 auto;
}

html {
  box-sizing: border-box;
}

body {
  background-attachment: fixed;
  font-family: "Barlow", sans-serif;
  background-image: url("img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  scroll-behavior: smooth;
}

/* mobile styles */

header {
  text-align: center;
  font-size: 2em;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(223, 211, 211);
  margin-top: 50px;
  margin-bottom: 100px;
}

.flex-form button {
  background: #ff5a5f;
  border-top: 1px solid #ff5a5f;
  border-bottom: 1px solid #ff5a5f;
  color: white;
  width: 70%;
}

.flex-form>* {
  border: 0;
  padding: 10px;
  background: white;
  line-height: 25px;
  border-radius: 0;
  outline: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-appearance: none;
  font-size: 1rem;
}

.flex-form>*:last-child {
  border-right: 0;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-form {
  display: flex;
  border: 20px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-bottom: 50px;
}

input[type="text"] {
  flex-basis: 300px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  color: white;
  display: none;
}

.flex-container {
  width: 100%;
  height: 100%;
}

.card-large {
  width: 90vw;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.1);
}

.weather-icon {
  padding: 10px;
}

.card-small {
  margin: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 2rem;
  color: white;
  background: rgba(0, 0, 0, 0.1);
}

footer {
  color: white;
  text-align: center;
  background-color: transparent;
  position: relative;
  top: 200px;
}

/* desktop styles */
@media (min-width: 700px) {
  header {
    font-size: 4rem;
    margin: 50px;
  }

  .flex-form {
    margin-top: 50px;
    width: 500px;
  }

  input[type="text"] {
    font-size: 20px;
  }

  .flex-form button {
    font-size: 20px;
    width: 40%;
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    display: none;
    margin-top: 50px;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .card-large {
    height: auto;
    font-size: 3rem;
  }

  img {
    width: 30%;
  }

  .card-small {
    flex: 35%;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
  }

  footer {}
}